@{
  Layout = "_Layout";
}
<h1>Order Details: </h1>

<h3>Vendor: @Model["vendor"].Name</h3>
<p><u>@Model["order"].Item</u></p>
<p><u>@Model["order"].Amount</u></p>
<p><u>@Model["order"].Price</u></p>
<p><u>@Model["order"].Date</u></p>


<form action='/vendors/@Model["vendor"].Id/orders/@Model["order"].Id' method="post">
  <button type="submit">Delete this Order!</button>
</form>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a><br>
<a href='/vendors'>View all vendors</a>